<div class="container">
  <div class='columns is-centered'>
      <div class='box column is-one-third'>
          <h1 class='title has-text-centered'>Typing Challenge</h1>
          
            <p class='has-text-centered'>
      <!-- [ngStyle]= "{'color': (letter===enteredText[i]) ? 'green' :  (enteredText[i] && letter!=enteredText[i]) ? 'red': 'grey'}" -->
              <span *ngFor="let letter of randomText.split(''); let i = index;"
              [class]='compare(letter, enteredText[i])'
              >{{letter}}</span>
            </p>
          <div class='field'>
              <input  class="input" (input)='onInput($event.target.value)' >
          </div>
          <div class='box has-text-centered'>
              <h1 class='title' *ngIf='randomText===enteredText'>Winner!</h1>
          </div>
      </div>
  </div>
</div>